<template>
    <div class="backdrop" @click.self="closeModal">
        <div class="modal" :class="{ sale : theme == 'sale' }">
            <!-- <h1>{{header}}</h1>
            <p>{{text}}</p> -->
            <slot></slot>
            <div class="actions">
                <slot name="links"></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default{
    props:['header', 'text', 'theme' ],
    methods: {
        closeModal(){
            this.$emit('close')
        }
    }
}
</script>


<style>
    .backdrop{
        background: rgba(0,0,0,0.5);
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .modal{
        background: white;
        border-radius: 10px;
        margin: 100px auto;
        padding: 20px;
        width: 400px;
    }

    .modal h1{
        border: none;
        color: #03cfba;
        padding: 0;
    }

    .modal p{
        font-style: normal;
    }

    .modal .actions{
        margin: 30px 0 10px 0;
        text-align: center;
    }

    .modal .actions a{
        border: 1px solid #eee;
        border-radius: 4px;
        color: #333;
        margin: 10px;
        padding: 8px;
        text-decoration: none;
    }

    .modal.sale{
        background: crimson;
        color: white;
    }

    .modal.sale h1{
        color: white;
    }

    .modal.sale .actions{
        color: white;
    }

    .modal.sale .actions a{
        color: white;
    }
</style>