<template>
 <h1>HomePage</h1>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima animi aliquid corporis saepe ex totam maiores illo vero. Omnis eveniet quasi mollitia porro magni velit voluptas esse nesciunt aliquam et, reprehenderit delectus fugiat dicta ut, in molestiae obcaecati, iusto aliquid quis tempore amet eaque sint laboriosam suscipit! Nemo quam sequi provident vitae quis asperiores accusantium porro minus, quos explicabo delectus maxime deleniti ducimus molestiae? Corporis recusandae reiciendis doloremque fugit minima quidem accusamus molestias delectus quaerat, voluptatem cumque officia praesentium debitis neque non architecto possimus provident eaque nostrum dolore laudantium. Quas autem eius optio, totam perspiciatis est assumenda nam ducimus sunt!</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima animi aliquid corporis saepe ex totam maiores illo vero. Omnis eveniet quasi mollitia porro magni velit voluptas esse nesciunt aliquam et, reprehenderit delectus fugiat dicta ut, in molestiae obcaecati, iusto aliquid quis tempore amet eaque sint laboriosam suscipit! Nemo quam sequi provident vitae quis asperiores accusantium porro minus, quos explicabo delectus maxime deleniti ducimus molestiae? Corporis recusandae reiciendis doloremque fugit minima quidem accusamus molestias delectus quaerat, voluptatem cumque officia praesentium debitis neque non architecto possimus provident eaque nostrum dolore laudantium. Quas autem eius optio, totam perspiciatis est assumenda nam ducimus sunt!</p>
</template>

<script>

export default {
  name: 'HomeView',
  components: {
   
  }
}
</script>
