:root{
  --UCL-dark-blue: #00454e;
  --UCL-light-blue: #e4f1f0;
  --UCL-pink: #f1c9c0;
  --UCL-purple: #9b3c7d;
  --UCL-yellow: #fbe355;
}

*{
  margin: 0;
  padding: 0;
}

/* OPGAVE 2.2 */
.box{
  background: #ddd;
  display: inline-block;
  margin: 20px;
  padding: 100px 0;
  text-align: center;
  width: 400px;
}

/* OPGAVE 2.3 */
body{
  background: #eee;
  margin: 20px auto;
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6{
  color: var(--UCL-dark-blue);
  padding: 0 1em;
}

li{
  align-items: center;
  background: var(--UCL-pink);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 20px auto;
  padding: 10px 20px;
}

li.fav{
  background: var(--UCL-purple);
}

li.fav h2, li.fav h3, li.fav h4, li.fav h5, li.fav h6{
  color: var(--UCL-yellow);
}
