<template>
  <section 
    id="TheYoutubeBlock"
    class="the-youtube-block" 
  >
    <BaseH2 
      text="Spectrum " 
      heading2="Emission Music" 
    />
    <div v-if="error">
      {{ error }}
    </div>
    <div 
      v-else 
      :class="{ tabletYoutube: tabletSize, pcYoutube: pcSize }"
    >
      <div
        v-for="video in videos"
        :key="video.id"
        class="youtube-video-container"
      >
        <div class="frame">
          <!-- <iframe
            width="330"
            height="220"
            :src="video.videoLink"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe> -->
          <iframe
            :src="video.videoLink"
            title="YouTube video player"
            frameborder="0"
            allowfullscreen
          >
            . 
          </iframe>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseH2 from "@/components/base/BaseH2.vue";
import axios from "axios";
export default {
  components: { BaseH2 },
  data() {
    return {
      videos: [],
      error: null,
      tabletSize: false,
      pcSize: false,
      windowWidth: null,
    };
  },
  // lifecycle hook: this resize applied when checkscreen is called
  created() {
    window.addEventListener("resize", this.checkScreen);
    this.checkScreen();
  },
  async mounted() {
    try {
      const response = await axios.get(
        "https://still-scrubland-97284.herokuapp.com/api/home-page?populate=%2A"
      );
      this.videos = response.data.data.attributes.musicvideo;
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth > 750 && this.windowWidth < 1050) {
        this.tabletSize = true;
        this.pcSize = false;
        return;
      }

      if (this.windowWidth >= 1050) {
        this.pcSize = true;
        this.tabletSize = false;
        return;
      } else {
        this.tabletSize = false;
        this.pcSize = false;
        return;
      }
    },
  },
};
</script>

<style></style>
 