
body{
    background-color: #312d2c;
}
#preloader_1{
    position:relative;
    margin: 50% auto;
    width: 68%;
    margin-right: 50px;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 25px;
    /* background:#584b4f; */
    position:absolute;
    animation: preloader_1 2s  infinite ease-in-out;
}
#preloader_1 span:nth-child(1){
    left:1px;
    animation-delay: .0s;
    color: #efdab9;
}
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
color: #efdab9;
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
color: #efdab9;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
color: #efdab9;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
color: #efdab9;
}
#preloader_1 span:nth-child(6){
left:55px;
animation-delay: .10s;
color: #efdab9;
}
#preloader_1 span:nth-child(7){
left:66px;
animation-delay: .12s;
color:#efdab9;
}
#preloader_1 span:nth-child(8){
left:77px;
animation-delay: .14s;
color: #efdab9;
}

@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px)}
    25% {height:30px;transform:translateY(15px)}
    50% {height:5px;transform:translateY(0px)}
    100% {height:5px;transform:translateY(0px)}
}


#preloader_2{
    position:relative;
    margin: 50% auto;
    width: 1%;
}
#preloader_2 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 25px;
    /* background:#584b4f; */
    position:absolute;
    animation: preloader_2 2s  infinite ease-in-out;
}
#preloader_2 span:nth-child(1){
    left:1px;
    animation-delay: .0s;
    color: #ebac00;
}
#preloader_2 span:nth-child(2){
left:11px;
animation-delay: .2s;
color: #ebac00;
}
#preloader_2 span:nth-child(3){
left:26px;
animation-delay: .4s;
color: #ebac00;
}
#preloader_2 span:nth-child(4){
left:33px;
animation-delay: .6s;
color: #ebac00;
}
#preloader_2 span:nth-child(5){
left:44px;
animation-delay: .8s;
color: #ebac00;
}
#preloader_2 span:nth-child(6){
left:55px;
animation-delay: .10s;
color: #ebac00;
}
#preloader_2 span:nth-child(7){
left:63px;
animation-delay: .12s;
color:#ebac00;
}
#preloader_2 span:nth-child(8){
left:77px;
animation-delay: .14s;
color: #ebac00;
}

@keyframes preloader_2 {
    0% {height:5px;transform:translateY(0px)}
    25% {height:30px;transform:translateY(15px)}
    50% {height:5px;transform:translateY(0px)}
    100% {height:5px;transform:translateY(0px)}
}