//Block 
.card{
    padding: 20px;
    height: 200px;
}

//Element
.card__title{
    font-size: 1.7em;
    padding-bottom: 10px;
  }
  
  .card__text{
      margin-bottom: 40px;
      font-size: 0.9em;
  }



//MOD
.card--theme-dark{
    background-color: black;
    color: white;
}

.card--theme-light{
    background-color: white;
    color: black;
   
}