<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="https://kit.fontawesome.com/f47fcebf42.js" crossorigin="anonymous"></script>
   
    <!--cdn vue-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>

    <title>Document</title>

    <style>
        *{
            margin: 0;
            padding: 0;
        }

        .icon{
            width: 20px;
            height: 20px;
            padding: 5px;
        }
       .img-for-book{
            max-width: 300px;
            max-height: 300px;
           
            
        
        }
        
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
           
            
        }

        .book{
            margin: 5% 0;
            padding: 5%;
            text-align: center;
            display: grid;
            min-height: 50px;
            min-width: 50px;
            height: fit-content;
            width: 300px;
            background-color: rgb(66, 64, 64);
            filter: drop-shadow(6px 2px 2px #656566);
            color: white;

          
            
            
        }

        .book h3 {
            min-height: 60px ;
            display: inline-block;
        }
        .center {
            
            display: grid;
            align-content: center;
            align-items: center;
            justify-items: center;
            padding: 0;
            margin: 0;
        }
    </style>

</head>
<body>
    <h1>Bøger jeg har læst eller været i gang med at læse </h1>

    <div id="hej">
    <div v-if="showBooks">
        <div class="container">
            <div class="book" v-for="book in books" :class="{read: book.isRead }">
                
                <img @click="toggleRead(book)" class="icon" :src="book.src" alt="">

               
                
                <h3> Title: {{ book.title }}</h3> 
                <p>Forfatter: {{ book.author }}</p>
                <div class="center"><img class="img-for-book" :src="book.img" alt="book.title"></div>

            </div>
        </div>
       
      
    </div>
    <button @click="toggleShowBooks">

        <!-- takes stuff completely out of the DOM-->
        <span v-if="showBooks">Hide books</span>
        <span v-else>Show books</span>
    </button>

    <a v-bind:href="url"> My website</a>

    <!--With shortcut-->
    <a :href="url"> My website</a>

    </div>
  
    <script  src="app.js" ></script>
</body>
</html>