<template>
  <h1 
    :data-text="text" 
    class="base-h1" 
    :class="theme"
  >
    {{ heading1 }}
  </h1>
</template>

<script>
export default {
  props: {
    heading1: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    theme: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
</style>