<template>
  <input 
    for="email" 
    type="email" 
    required
    placeholder="Your Email" 
    @blur="validateEmail" 
  > 
</template>

<script>
export default {
  data() {
    return {
      email: ''
    }
  },
}

</script>

<style>

</style>