<template>
  <h6 
    :data-text="text" 
    class="base-h6" 
    :class="theme"
  >
    {{ heading6 }}
  </h6>
</template>

<script>
export default {
  props: {
    heading6: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    theme: {
      type: String,
      required: true,
    },
  },
};
</script>

<style></style>
