* {
    margin: 0; 
    padding: 0;
}
body{
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(1px 1px 1px #ebebeb);
    
}

.site-header{
    font-size: 1.7em;

}

.site-header__title{
   
    text-align: center;
    padding: 50px 0px;
}

.site-header--theme-yellow{
    background-color: yellow;
}

.card{
    padding: 20px;
    height: 200px;
}

.card--theme-dark{
    background-color: black;
    color: white;
}

.card--theme-light{
    background-color: white;
    color: black;
   
}

.card__title{
  font-size: 1.7em;
  padding-bottom: 10px;
}

.card__text{
    margin-bottom: 40px;
    font-size: 0.9em;
}
.button{
    padding: 15px 25px;
    margin-bottom: 60px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    width: 80px;
   
}


.button--yellow{
    background-color: yellow;
    color: black;

}


.button--dark{
    background-color: black;
    color: white;

}