<!--this is a vue tag, u can have a multiple elements inside a vue template-->
 <template>
  <div id="app">
    <h1>{{ title }}</h1>
    <Modal />
  </div>
</template>

<script>
import Modal from './components/Modal'


// this is an object
// add your component down here inorder to use it
export default {
  name: 'App',
  components: { Modal },
  data(){
    return {
      title: 'My First Vue App :)'
    }
  },
  methods: {
    handleClick(){
      console.log(this.$refs.name)
      this.$refs.name.classList.add('active')
      this.$refs.name.focus()
    }
  }
}
</script>


<!--style tag is global if you want to apply only on one component add scoped-->
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1{
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 10px;
}
</style>
