@import "_variables.scss";

/* header block  */
.header {
  background-color: $secondary-color;

  .header__title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
