@import "_variables.scss";

/* section block */
.section {
  padding: 15px 30px;
}

.section--black {
  background-color: $tertiary-color;
  color: white;
}
// elem modifier
// .section__title {
//   margin: 0px 0 20px;
// }
.section__desc {
  margin: 10px 0 20px;
  font-size: 14px;
}

.section--white {
  background-color: $primary-color;
}
.link__page a{
    padding: 10px 10px;
    background-color: $secondary-btn;   
    font-weight: 700;
    text-decoration: none;
    color: black;
}
h3{
    margin-bottom: 20px;
}